<script type="text/javascript">
	$(document).ready(function() {
		// <!-- Select Multiple Tags -->
		$(".select-tags").select2({
			tags: false,
			theme: "bootstrap",
		})
	});
</script>
<div class="modal-content">
        <div class="modal-header bordered">
            <button class="close" type="button" ng-click="editTechnicianDlCtrl.close()">×</button>
            <h2 class="pmd-card-title-text">{{'UpdateTechnicianLbl' | translate}}</h2>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" name="updateTechnicianForm">
                <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                    <label for="first-name">{{'UserName' | translate}}</label>
                    <input required type="text" class="mat-input form-control" name="userName" ng-model="editTechnicianDlCtrl.Technician.userName" ng-minlength="3" ng-maxlength="100">
                    <div ng-messages="updateTechnicianForm.userName.$error" >
                        <div ng-if="updateTechnicianForm.userName.$error.required && !updateTechnicianForm.userName.$pristine">{{'requiredErr' | translate}}</div>
                        <div ng-if="(updateTechnicianForm.userName.$error.minlength || updateTechnicianForm.userName.$error.maxlength) && !updateTechnicianForm.userName.$error.required">{{'NameLengthError' | translate}}</div>
                    </div>
                </div>
                <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed" >
                        <label for="first-name">{{'TechnicianUserPasswordLbl' | translate}}</label>
                        <input required type="password" class="mat-input form-control" name="password" ng-model="editTechnicianDlCtrl.Technician.password" ng-minlength="8" ng-maxlength="25">
                        <div ng-messages="updateTechnicianForm.password.$error" >
                            <div ng-if="updateTechnicianForm.password.$error.required && !updateTechnicianForm.password.$pristine">{{'requiredErr' | translate}}</div>
                            <div ng-if="(updateTechnicianForm.password.$error.minlength || updateTechnicianForm.password.$error.maxlength) && !updateTechnicianForm.password.newPassword.$error.required">Password length must be 8-25 char.</div>
                        </div>
                    </div>
                    <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed" >
                        <label for="first-name">{{'ConfirmPasswordLbl' | translate}}</label>
                        <input required type="password" class="mat-input form-control" name="confirmPassword"  ng-model="editTechnicianDlCtrl.Technician.confirmPassword" equalto="updateTechnicianForm.password" >
                        <div ng-messages="updateTechnicianForm.confirmPassword.$error" >
                            <div ng-if="updateTechnicianForm.confirmPassword.$error.required && !updateTechnicianForm.confirmPassword.$pristine">{{'requiredErr' | translate}}</div>
                            <div ng-if="updateTechnicianForm.confirmPassword.$error.equalto && !updateTechnicianForm.confirmPassword.$error.required">Passwords don't match.</div>
                        </div>
                    </div>
                    <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed" >
                        <label>{{'selectCategoryLbl' | translate}}</label>
                        <select required class="form-control select-tags pmd-select2-tags" multiple
                        ng-change="editTechnicianDlCtrl.categoryChange()" ng-model="editTechnicianDlCtrl.SelectedCategoryId" name="SelectedCategory">
                            <option ng-repeat="category in editTechnicianDlCtrl.categories" 
                            ng-value="{{category.userCategoryId}}">
                                {{category.titleDictionary[editTechnicianDlCtrl.selectedLanguage]}}
                            </option>                    
                        </select>
                        <div ng-if="updateTechnicianForm.SelectedCategoryId.$error.required && !updateTechnicianForm.SelectedCategoryId.$pristine">{{'requiredErr' | translate}}</div>
                    </div>
            </form>
        </div>
        <div class="pmd-modal-action text-right">
            <button ng-disabled="updateTechnicianForm.$invalid || (editTechnicianDlCtrl.SelectedCategoryId.length<=0 )" class="btn pmd-ripple-effect btn-primary" type="button" ng-click="editTechnicianDlCtrl.updateTechnician()">{{'saveChangesBtn' | translate}}</button>
            <button class="btn pmd-ripple-effect btn-default" type="button" ng-click="editTechnicianDlCtrl.close()">{{'DiscardBtn' | translate}}</button>
        </div>
    </div>
    
        
    