<div class="modal-content">
    <div class="modal-header bordered">
        <button class="close" type="button" ng-click="editUnitTypeCtrl.close()">×</button>
        <h2 class="pmd-card-title-text">{{'UpdateUnitTypeLbl' | translate}}</h2>
    </div>

    <div class="modal-body">
        <form class="form-horizontal" name="newUnitTypeForm" autocomplete="off">
            <div> 
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ng-class="{'active':$index == 0}" ng-repeat="lang in language">
                        <a href="javascript:void(0);" data-target="#{{lang.value}}-form" aria-controls="home" role="tab" data-toggle="tab">
                            {{lang.value | translate}}
                        </a>
                    </li> 
                </ul>
                <div class="pmd-card">
                    <div class="pmd-card-body">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tablist" class="tab-pane" ng-class="{'active':$index == 0}" ng-repeat="lang in language" id="{{lang.value}}-form">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                                    <label for="first-name"> {{ 'Title' | translate}} </label>
                                    <!-- <label for="first-name">{{'Title' | translate}}</label> -->
                                    <input type="text" class="mat-input form-control" name="titleDictionary{{lang.value+'Title'}}" ng-pattern="/^(\D)+$/" ng-model="editUnitTypeCtrl.unitTypeObj.titleDictionary[lang.key]" ng-minlength="3" ng-maxlength="50">
                                    <div ng-messages="newUnitTypeForm.titleDictionary{{lang.value+'Title'}}.$error" class="error">
                                            <div ng-show="newUnitTypeForm.titleDictionary{{lang.value+'Title'}}.$error.pattern">{{'TextOnly' | translate}}</div>
                                            <!-- <div ng-if="newCurrencyForm.title.$error.required && !newCurrencyForm.title.$pristine">{{'requiredErr' | translate}}</div> -->
                                            <div ng-show="newUnitTypeForm.titleDictionary{{lang.value+'Title'}}.$error.minlength || newUnitTypeForm.titleDictionary{{lang.value+'Title'}}.$error.maxlength">{{'NameLengthError' | translate}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </form>
        <div class="pmd-modal-action text-right">
            <button ng-disabled="newUnitTypeForm.$invalid" class="btn pmd-ripple-effect btn-primary" type="button" ng-click="UpdateContact()">{{'EditBtn' | translate}}</button>
        </div>

    </div>
</div>