<div class="main_field_3">
  <div style="padding: 10px;color: white;margin-top: -80px">
    <img ng-src="{{feature.imageURL}}?type='thumbnail'" style="border-radius: 100px;" />
    <span>{{feature.featureNameDictionary[selectedLanguage]}}</span>
  </div>


  <div class="container" style="    max-width: 50%;">

    <form name="invetationForm">
      <div>

        <label for="first-name">{{'countLbl' | translate}} :</label>

        <input required type="number" class="mat-input form-control" name="count" numbers-only ng-model="count"
          onchange="addNewChoice()" style="width: 17%;" ng-minlength="1" ng-maxlength="3">

        <button class="btn pmd-ripple-effect btn-primary" ng-click="addNewChoice()">{{'addcountLbl' | translate}}
        </button>
        <div ng-messages="invetationForm.count.$error">
          <div ng-if="invetationForm.count.$error.required && !invetationForm.count.$pristine">{{'countReqError'
            | translate}}</div>
          <div ng-if="(invetationForm.count.$error.minlength || invetationForm.count.$error.maxlength)">{{'countLengthError'
            | translate}}</div>
        </div>
      </div>
      <div>
        <br>
        <fieldset data-ng-repeat="choice in countList">
          <input type="text" ng-model="choice.name" name="username" placeholder="Enter Name" required>
          <input type="text" ng-model="choice.idtype" name="idtype" placeholder="Enter ID Type" required>
          <input type="text" ng-model="choice.id" name="id" placeholder="Enter ID" required>
          <button class="remove" ng-click="removeChoice($index)">-</button>
        </fieldset>
        <br>
      </div>
      <div>
        <label for="first-name">{{'date' | translate}} : </label>
        <input type="datetime-local" data-ng-model="dateinvetation" style="width: 50%;" class="mat-input form-control"
          ng-change="DateChange(dateinvetation)" />
      </div>
      <br>

      <div>
        <label for="first-name">{{'invetationType' | translate}} : </label>
        <input type="radio" ng-model="type" value="Single">Single
        <input type="radio" ng-model="type" value="Family">Family
      </div>
      <div>
        <br>
        <label for="first-name">{{'yourComment' | translate}}</label>
        <textarea type="text" class="mat-input form-control" name="comment" ng-model="comment"></textarea>


        <div ng-messages="invetationForm.comment.$error">
          <div ng-if="invetationForm.comment.$error.required && !invetationForm.comment.$pristine">{{'commentReqError'
            | translate}}</div>
          <div ng-if="(invetationForm.comment.$error.minlength || invetationForm.comment.$error.maxlength)">{{'commentLengthError'
            | translate}}</div>
        </div>
      </div>

    </form>
    <div class="pmd-modal-action text-right">
      <button ng-disabled="invetationForm.$invalid" class="btn pmd-ripple-effect btn-primary" type="button" ng-click="createInvetation()">{{'requestbtn'
        | translate}}</button>
    </div>
  </div>

</div>